## Settings file was created by plugin RememberIPDamnit v0.2
## Plugin GUID: Xenofell.RememberIPDamnit

[RememberIPDamnit]

# Setting type: String
# Default value: 
Address = 68.39.135.132:2456

# Setting type: String
# Default value: 
Password = THG123

